html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


input {
  font-size: 12px;
}

h1 {
  color: #525454;
  font-size: 20px;
  margin: 0 0 10px 0;
  text-align: center;
}


#map {
  bottom:0px;
  height: 100%;
  /* left: 362px; */
  position: absolute;
  right: 0px;
}

#pano {
  width: 200px;
  height: 200px;
}

.text {
  font-size: 12px;
}

.navbar-menu {
  display: none;
  padding: 0;
}

.menu {
  margin-left: 20px;
}

.navbar-item img {
  max-height: 3.75rem;
  margin-left: 30px;
}

@media screen and (max-width: 500px) {
  .options-box {
    display: none;
  }
  #map {
    width: 100%;
    left: 0;
  }
  .navbar-item img {
    max-height: 2.75rem;
    margin-left: 0;
  }
}
@media screen and (max-width: 1088px) {
  .navbar-menu .sidebar {
    display: block;
  }
  .sidebar {
    display: none;
  }
  #map {
    width: 100%;
    left: 0;
  }
  .navbar-item img {
    max-height: 2.75rem;
    margin-left: 0;
  }
}
